extends /_templates/layout.pug

block content 

    .content
        .container
            h1= self.sponsorTitle
            
            p= self.sponsorText
            
            h3(style="line-height: 1.2; font-weight: 700")= "EE707700771003717302"
            h3(style="line-height: 1.2; font-weight: 700")= "Mittetulundusühing MIIKAELI ÜHENDUS"

            a.link-button(href="mailto:")= self.contactLink