extends /_templates/layout.pug

block content 

    .content
        .container
            h1= self.sponsorTitle

            p= self.sponsorText

            h3(style="line-height: 1.2; font-weight: 700")= "EE707700771003717302" 
            h3(style="line-height: 1.2; font-weight: 700")= "Mittetulundusühing MIIKAELI ÜHENDUS" 

            a.link-button(href="mailto:matik@vhk.ee")= self.contactLink
            
            p= self.costs
            ul
                each cost in self.costy
                    li= cost
            
            p= self.neededItems
            ul
                each need in self.needed
                    li= need
        .sponsors 
            h1= self.sponsorsTitle
            .sponsor-images
                a(href="https://norcar.ee/")
                    img(src="/assets/norcar_logo.png" alt="Norcar logo")
                a(href="https://tallinn.ee")
                    img(src="/assets/logo.svg" alt="City of Tallinn logo")
                a(href="https://www.bolt.eu")
                    img(src="/assets/bolt_logo.png" alt="Bolt logo")
                a(href="http://www.kardirada.ee/")
                    img(src="/assets/kardirada.png" alt="Kardirada logo")
                a(href="https://www.byroomaailm.ee/")
                    img(src="/assets/byroomaailm.svg" alt="Büroomaailm logo")
                a(href="https://www.solidworks.com/")
                    img(src="/assets/Solidworks-logo_red.svg" alt="Solidworks logo")
                a(href="https://www.composite.ee/en/")
                    img(src="/assets/composite_eesti_logo.png" alt="Composite Eesti logo")
                a(href="https://espak.ee/")
                    img(src="/assets/espak_logo.png" alt="Espak logo")