extends /_templates/layout.pug

block content 
    .hero
        .hero-content
            h1= self.hero.title
            p= self.hero.heroDesc
    
    .content
        .sponsors
            h1= self.sponsorsTitle
            .sponsor-images
                a(href="https://tallinn.ee")
                    img(src="/assets/logo.svg" alt="City of Tallinn logo")
                a(href="http://www.kardirada.ee/")
                    img(src="/assets/kardirada.png" alt="Kardirada logo")
                a(href="https://www.byroomaailm.ee/")
                    img(src="/assets/byroomaailm.svg" alt="Büroomaailm logo")
                a(href="https://www.solidworks.com/")
                    img(src="/assets/Solidworks-logo_red.svg" alt="Solidworks logo")

        .about-us.container.container-m!= self.md(self.aboutUsAsMarkdown)

        .container.container-m
            h1= self.teamsTitle
            .teams
                .jupp.team-item
                    img(src="/assets/onejupp/P2400708.webp" alt="1 Jupp team photo")
                    .team-item-content
                        h2= self.juppTitle
                        p= self.jupp
                        a.link-button(href=self.nav.teams[1].url)= self.learnMore
                .beegreen.team-item
                    img(src="/assets/beegreen/beegreen.PNG" alt="Beegreen team logo")
                    .team-item-content
                        h2 Beegreen
                        p= self.beegreen
                        a.link-button(href=self.nav.teams[0].url)= self.learnMore
                .pink.team-item
                    img(src="/assets/pinkpython/image_123650291.JPG" alt="Pink Python team's car on test track")
                    .team-item-content
                        h2 Pink Python
                        p= self.pink
                        a.link-button(href=self.nav.teams[3].url)= self.learnMore
                .okas.team-item
                    img(src="https://placehold.co/400x300" alt="Okas team photo")
                    .team-item-content
                        h2 Okas
                        p= self.okas
                        a.link-button(href=self.nav.teams[2].url)= self.learnMore

        .container.container-m
            h1= self.mediaTitle
            .media
                .media-item
                    iframe(width="400" height="225" src="https://www.youtube-nocookie.com/embed/GyUWX6lJIaE?si=oZMr8djavRFKZe9j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
                    .media-item-content
                        h2= self.mediaItemTitle1
                        p= self.mediaItemDesc1
                        a.link-button(href="https://pealinn.ee/2023/03/10/vanalinna-hariduskolleegiumi-noored-ehitavad-elektrisoidukeid-ja-unistavad-voistlustest/")= self.watch
                .media-item
                    img(src="/assets/autogeenius-lg_ee22e8b9.svg" width="400" height="80" style="background: #dfdfdf; padding: 1rem;" alt="Autogeenius")
                    .media-item-content
                        h2= self.mediaItemTitle2
                        p= self.mediaItemDesc2
                        a.link-button(href="https://auto.geenius.ee/rubriik/uudis/vanalinna-kooli-opilased-ehitavad-elektriautosid-ja-plaanivad-nendega-voistlema-minna/")= self.read
                .media-item
                    //iframe(src="//services.err.ee/media/embed/4cf98935c4fdfd141aabd5cfa1d48f27?contentId=1608995702?t=4860" frameborder="0" allowfullscreen="allowfullscreen" width="400" height="275")
                    img(src="/assets/1574950h5996t61.webp" width="355.55" height="200" alt="Terevisioon")
                    .media-item-content
                        h2= self.mediaItemTitle3
                        p= self.mediaItemDesc3
                        a.link-button(href="https://jupiter.err.ee/1608995702/terevisioon?t=4860")= self.watch
                .media-item
                    img(src="/assets/75a93a3e552e26ba06142f8f7070e724.webp" width="406.667" height="200" alt="Raadio Elmar")
                    .media-item-content
                        h2= self.mediaItemTitle4
                        p= self.mediaItemDesc4
                        a.link-button(href="https://elmar.pleier.ee/podcast/moni-minut-muusikata/156324")= self.listen

        .blog-preview.container.container-m
            h1= self.blogTitle
            .blog-preview-post!= self.md(self.data.articles[0])
            a.blog-link.link-button(href=self.nav.blog.url)= self.readMore

        .donate
            h1= self.donateTitle
            a.donate-button.link-button(href="/sponsor")= self.donateNow