extends /_templates/layout.pug

block content 
    .hero
        .hero-content
            h1= self.hero.title
            p= self.hero.heroDesc
    
    .content
        .sponsors
            h1= self.sponsorsTitle
            .sponsor-images
                a(href="https://tallinn.ee")
                    img(src="assets/logo.svg" alt="City of Tallinn logo")
                //a(href="https://siemens.com/")
                //    img(src="assets/siemens.svg" alt="Siemens logo")
                a(href="https://www.solidworks.com/")
                    img(src="assets/Solidworks-logo_red.svg" alt="Solidworks logo")

        .about-us.container.container-m!= self.md(self.aboutUsAsMarkdown)

        .container.container-m
            h1= self.teamsTitle
            .teams
                .jupp.team-item
                    img(src="/assets/P2400708.JPG" alt="1 Jupp team photo")
                    .team-item-content
                        h2= self.juppTitle
                        p= self.jupp
                        a.link-button(href=self.nav.teams[1].url)= self.learnMore
                .beegreen.team-item
                    img(src="/assets/beegreen.png" alt="Beegreen team photo")
                    .team-item-content
                        h2 Beegreen
                        p= self.beegreen
                        a.link-button(href=self.nav.teams[0].url)= self.learnMore
                .pink.team-item
                    img(src="https://placehold.co/400x300" alt="PinkFloyd team photo")
                    .team-item-content
                        h2 PinkFloyd
                        p= self.pink
                        a.link-button(href=self.nav.teams[3].url)= self.learnMore
                .okas.team-item
                    img(src="https://placehold.co/400x300" alt="Okas team photo")
                    .team-item-content
                        h2 Okas
                        p= self.okas
                        a.link-button(href=self.nav.teams[2].url)= self.learnMore

        .container.container-m
            h1= self.mediaTitle
            .media
                .media-item
                    iframe(width="300" height="225" src="https://www.youtube-nocookie.com/embed/GyUWX6lJIaE?si=oZMr8djavRFKZe9j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
                    .media-item-content
                        h2= self.mediaItemTitle1
                        p= self.mediaItemDesc1
                        a(href="https://pealinn.ee/2023/03/10/vanalinna-hariduskolleegiumi-noored-ehitavad-elektrisoidukeid-ja-unistavad-voistlustest/")= self.learnMore
                .media-item
                    img(src="assets/autogeenius-lg_ee22e8b9.svg" width="300" height="200" alt="Autogeenius")
                    .media-item-content
                        h2= self.mediaItemTitle2
                        p= self.mediaItemDesc2
                        a(href="https://auto.geenius.ee/rubriik/uudis/vanalinna-kooli-opilased-ehitavad-elektriautosid-ja-plaanivad-nendega-voistlema-minna/")= self.learnMore
                .media-item
                    iframe(src="//services.err.ee/media/embed/4cf98935c4fdfd141aabd5cfa1d48f27?contentId=1608995702" frameborder="0" allowfullscreen="allowfullscreen" width="300" height="225")
                    .media-item-content
                        h2= self.mediaItemTitle3
                        p= self.mediaItemDesc3
                        a(href="https://etv.err.ee/1608995702/terevisioon")= self.learnMore
                .media-item
                    img(src="assets/75a93a3e552e26ba06142f8f7070e724.png" width="300" height="200" alt="Raadio Elmar")
                    .media-item-content
                        h2= self.mediaItemTitle4
                        p= self.mediaItemDesc4
                        a(href="https://elmar.pleier.ee/podcast/moni-minut-muusikata/156324")= self.learnMore

        .blog-preview.container.container-m
            h1= self.blogTitle
            .blog-preview-post!= self.md(self.data.articles[0])
            a.blog-link.link-button(href=self.nav.blog.url)= self.readMore

        .donate
            h1= self.donateTitle
            a.donate-button.link-button(href="/sponsor")= self.donateNow