.navbar(id="navbar")

    each p, locale in self.otherLocalePaths

        if locale == "et"
            for i in self.nav
                if i.url
                    if i.title == "VHK Matik"
                        div.navbar-home-logo-div
                            a(href=i.url)
                                        img.navbar-home-logo(src="/assets/VHK_matik_logo.webp", alt="VHK_matik_logo")
                            a(href=i.url)=i.title

                        .hamburger
                            a(href="javascript:void(0)" onclick="responsiveNav()")= "☰"
                    else
                        div.nav-content-div
                            a(href=i.url)=i.title

                else
                    div.nav-content-div
                        ul.dropdown Teams
                            div.teams-dropdown
                                for j in i 
                                    li
                                        a(href=j.url)=j.title

        if locale == "en"
            for i in self.nav
                if i.url
                    if i.title == "VHK Matik"
                        div.navbar-home-logo-div
                            a(href=i.url)
                                    img.navbar-home-logo(src="/assets/VHK_matik_logo.webp", alt="VHK_matik_logo")
                            a(href=i.url)=i.title

                        .hamburger
                            a(href="javascript:void(0)" onclick="responsiveNav()")= "☰"
                    else
                        div.nav-content-div
                            a(href=i.url)=i.title

                else
                    div.nav-content-div
                        ul.dropdown Meeskonnad
                            div.teams-dropdown
                                for j in i 
                                    li
                                        a(href=j.url)=j.title


    .nav-lang.nav-content-div
        each p, locale in self.otherLocalePaths
            if locale == "en"
                a(href= p)
                    img(src="/assets/britain.webp", alt="UK")
            else if locale == "et"
                a(href= p)
                    img(src="/assets/estonia.webp", alt="EE")
            else
                a(href= p)= locale

