extends /_templates/layout.pug

block content 
    .hero
        .hero-content
            h1= self.hero.title
            p= self.hero.text
    
    .content

        .desc.container.container-m!= self.md(self.team.text)

        .gallery.container.container-m
            h2= self.photos
            ul.photos
                li
                    img(src="/assets/onejupp/P2400708.webp" alt="1 Jupp team photo")
                li
                    img(src="/assets/onejupp/1708959115437.webp" alt="Man agressively sawing")
                li
                    img(src="/assets/onejupp/3872.webp" alt="Safety issues in the workshop")
                li 
                    video(height="300" controls) 
                        source(src="/assets/onejupp/IMG_2580.webm" type="video/webm")
                        source(src="/assets/onejupp/IMG_2580.mp4" type="video/mp4")

        .container.container-m
            h2= self.memberTitle
            .members
                each member in self.members
                    .member
                        if member.imageChange
                            img(src=member.image onmouseover=`this.src='${member.imageChange}';` onmouseout=`this.src='${member.image}';`)
                        else 
                            img(src=member.image)
                        .member-info
                            h2= member.name
                            p= member.role