extends /_templates/layout.pug

block content 
    .hero
        .hero-content
            h1= self.hero.title
            p= self.teamText
    
    .content

        .desc.container.container-m
            p= self.teamText

        .container.container-m
            p= "Pildigalerii võib siia tulla, kui on vaja."

        .members.container.container-m
            each member in self.members
                .member
                    img(src=member.image)
                    .member-info
                        h2= member.name
                        p= member.role